@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,900;1,400&display=swap');

/* importando fonte do google fonts */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.titulo{
    font-family: Raleway;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.slider img{
    width: 100%;
}

.slid_galeri ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.slid_marv ul iframe{
    margin: 5px;
}

.tamanho{
    margin: 0 auto;
    max-width: 1400px;
}


.plus  h4{
    color: #fff;
}

.plus .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.plus .container img{
    display: block;
    width: 100%;
    transition: all 0.3s linear;
}

.plus .container img:hover{
    transform: scale(0.9);
}

#cabecalho{
    background-color: rgb(52, 119, 185);
    font-size: 21px;
}

#cabecalho .container{
    display: flex;
    align-items: center;
     /* centralisa os elementos pq o flex puxa a imagem para que td tenha a msm altura */
    justify-content: space-between;
    /* manda pra direita */
}

#cabecalho #logo {
    width: 100px;
}

#cabecalho #logo_marvel {
    width: 200px;
}

#cabecalho #logo_desenho {
    width: 80px;
}

#cabecalho #logo_pixar {
    width: 200px;
}

#cabecalho #menu ul {
    display: flex;
}

#cabecalho #menu li {
    list-style: none;
}

#cabecalho #menu a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #CCC;
    transition: all .3s linear;
}

#cabecalho #menu a:hover{
    background-color: #06c;
}


#index_princesas {
    position: relative;
}

#index_princesas #conteudo {
    padding-top: 22vh;
    padding-left: 18vh;
    position: absolute;
    z-index: 1;
}

#index_princesas .video {
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
}

#index_plus img{
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 50%;
    width: 100%;
}

#index_marvel img{
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
}

#index_desenho img{
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 80%;
    width: 100%;
}

#index_pixar img{
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 50em;
    width: 100%;
}

#plus_imagens {
    margin-top: 30px;
    margin-bottom: 30px;
}

#plus_imagens .container {
    display: flex;
    gap: 20px;
}

#plus_imagens .container a {
    flex: 1;
}

#plus_imagens .container a img {
    width: 100%;
    height: 100%;
}


#plus_color{
    background-color: #0b1448;
}

#princesas img{
    width: 1200px;
     height: 500px;
}

#princesas iframe{
    width:1200px;
 height:500px;
}

#princesas_color{
    background: linear-gradient(135deg, #1ec8b9, rgb(109, 130, 236),  rgb(195, 67, 227));
}

#princesas .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 50PX;
}

#princesas .container ul{
    padding-left: 20px;
    margin-bottom: 20px;
}

#princesas .container h3{
    margin-bottom: 20px;
}

#princesa{
    padding-top: 20px;
    padding-bottom: 20px;
}


#marvel_lanc{
    display: flex;
  justify-content: center;
}

#marvel_lanc .plus {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    display: inline;
    gap: 10px;
}

#marvel h3{
    color: #FFF;
}

#marvel .slid_galeri{
    max-width: 1400px;
}

#marvel .slid_galeri iframe {
    margin: 0 auto;
    width: 50%;
}

#marvel{
    background-color: #000;
    margin: 0 auto;
    max-width: 1400px;

}

#marvel_img1{
    position: relative;
    object-fit: cover;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
}

#marvel #conteudo_marvel{
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(1, 37vw);
    justify-items: center;
}

#marvel_color h2{
    color: #fff;
    font-size: 30px;
    z-index: 99;
}
#marvel_color{
    background-color: #01072c;
}

h4#marv_txt_h4{
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    text-align:justify;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

#marv .plus {
    background-color: #01072c;
}


#pixar .slider{
    margin: 0 auto;
}

#pixar_slide ul{
    display: flex;
    justify-content: center;
}

#pixar_color .slid_galeri ul li img{
    height: 20em;
}

#pixar_color .slid_galeri h5{
    color: #525255;
   font-size: 25px;
   margin-bottom: 5px;
}

#pixar_color{
    background: linear-gradient(to bottom, rgb(226, 226, 243), rgb(15, 129, 236));
}

#pixar_slide .slid_galeri{
    display: block;
    padding-left: 18em;
    position: relative;
    width: 100%;
}

#desenho{
    background: linear-gradient(to right, rgb(236, 105, 93), rgb(88, 112, 234),  rgb(109, 236, 196));
    z-index: -1;
}

#desenho_imagens img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

#desenho_imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33vw);
    grid-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    }

#conteudo_desenho h3{
    background-color: rgb(4, 49, 94);
    opacity : 1; 
    color: #fff;
    border-radius: 30px;
    margin-bottom: 10px;
   padding-left: 20px;
   padding-right: 10px;
   padding-bottom: 5px;
}

#conteudo_desenho img{
    width: 100%;
}

#rodape{
    background-color:rgb(1, 46, 91);
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

#rodape a {
    color: rgb(162, 130, 215);
    text-decoration: none;
}

#rodape a:hover{
    text-decoration: underline;
}